body {
background-color: #ffe2fc;
}

.topnav {
    overflow: hidden;
    background-color: #f7c3e5;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #f7deee;
    color: white;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
